* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff3864;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4728b;
}
